.system-container {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        background-color: #007bff;

        ul {

            list-style: none;
            margin: 0;
            padding: 0;

            .dropdown {
                position: relative;

                .dropbtn {
                    text-decoration: none;
                    padding: 10px 20px;
                    color: white;
                    display: inline-block;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    top: 100%;
                    width: 10vw;
                    left: 0;
                    background-color: #f9f9f98b;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    padding: 10px 0;
                    border-radius: 5px;

                    .user-manager {
                        position: relative;

                        .user-manager-title {
                            display: block;
                            padding: 10px 20px;
                            text-decoration: none;

                            color: #333;

                            &:hover {
                                background-color: #ddd;
                            }
                        }

                        .sub-dropdown {
                            display: none;
                            position: absolute;
                            top: 0;
                            width: 10vw;
                            left: 100%;
                            background-color: #f1f1f1;
                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                            border-radius: 5px;

                            a {
                                display: block;
                                padding: 10px 20px;
                                text-decoration: none;
                                color: #333;

                                &:hover {
                                    background-color: #ddd;
                                }
                            }
                        }

                        &:hover .sub-dropdown {
                            display: block;
                        }
                    }
                }

                &:hover .dropdown-content {
                    display: block;
                }
            }
        }

        .logout-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            background-color: #007bff;
            color: white;
            font-size: 18px;
            width: 3vw;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}