.about-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 100px;
    background-image: url('../../assets/images/homeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Calibri, sans-serif;

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 35%;

        .about-name {
            font-size: 24px;
            font-weight: bold;
            color: #20b6a9;
        }

        .about-title {
            margin-top: 15px;
            margin-bottom: 15px;

            .main-title {
                color: #343a40;
                font-weight: 600;
                font-size: 70px;
            }
        }

        .about-description {
            font-size: 16px;
            color: #6c757d;
        }

        .about-button {
            border: 1px solid #2b9ddf;
            border-radius: 20px;
            padding: 10px 40px;
            background-color: #2b9ddf;

            color: white;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}

.more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #e6f9ff;
    font-family: Calibri, sans-serif;
    color: white;

    .more-content-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 15%;
        height: 65%;
        box-shadow: 0 0 10px #89939c;
        border: 1px solid #2b9ddf;
        background-color: #2b9ddf;
        padding: 20px;
        border-radius: 40px;
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 40px;
        padding-right: 40px;

        .more-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .fa-clock {
            color: white;
            height: 50px;
            width: 50px;
            margin-left: 40px;
        }

        .more-description {

            .more-weekday,
            .more-weekend {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-top: 20px;

                .more-day {
                    font-size: 14px;
                    font-weight: 400;
                }

                .more-time {
                    font-size: 18px;
                    font-weight: 600;
                }

            }
        }
    }
}

.more-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: #343a40;
    width: 15%;
    height: 65%;
    box-shadow: 0 0 10px #89939c;
    padding-left: 45px;
    padding-right: 45px;

    .more-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .fa-calendar {
        color: #2b9ddf;
        height: 50px;
        width: 50px;
        margin-left: 40px;
    }

    .fa-user-doctor {
        color: #2b9ddf;
        height: 50px;
        width: 50px;
        margin-left: 40px;
    }

    .fa-house-chimney-medical {
        color: #2b9ddf;
        height: 50px;
        width: 50px;
        margin-left: 40px;
    }

    .more-description {
        p {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .button {
            border: 1px solid #2b9ddf;
            border-radius: 20px;
            padding: 10px 40px;
            background-color: #2b9ddf;
            color: white;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
            width: 80%;
        }
    }
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: Calibri, sans-serif;


    .services-name {
        font-size: 24px;
        font-weight: bold;
        color: #20b6a9;
        margin-top: 40px;
    }

    .services-title {
        margin-top: 15px;
        margin-bottom: 15px;

        .main-title {
            color: #343a40;
            font-weight: 600;
            font-size: 50px;
        }
    }

    .services-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .services-image {
            width: 30%;
            height: 50%;
            margin-top: 10px;
            margin-left: 15vw;

            img {
                width: 100%;
                height: auto;
            }
        }

        .services-description {
            width: 47%;
            font-size: 16px;
            color: #6c757d;
            margin-top: 20vh;

            p {
                width: 70%;
            }
        }

        .services-button {
            border: 1px solid #2b9ddf;
            border-radius: 20px;
            padding: 10px 40px;
            background-color: #2b9ddf;

            color: white;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #e6f9ff;
    font-family: Calibri, sans-serif;

    .features-name {
        font-size: 24px;
        font-weight: bold;
        color: #20b6a9;
        margin-top: 40px;
    }

    .features-title {
        margin-top: 15px;
        margin-bottom: 15px;

        .main-title {
            color: #343a40;
            font-weight: 600;
            font-size: 50px;
        }
    }

    .features-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        height: 50%;
        border: 1px solid #2b9ddf;
        background-color: #2b9ddf;
        border-radius: 80px;
        margin-top: 50px;

        .features-icon {
            width: 100px;
            height: 75px;
            border: 1px solid white;
            background-color: white;
            border-radius: 10px;
            margin-top: 5vh;
            margin-left: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-hospital {
                color: #2b9ddf;
                font-size: 40px;
            }
        }

        .features-description {
            width: 55%;
            font-size: 16px;
            color: #6c757d;
            margin-top: 5vh;
            margin-left: 5vh;

            .features-title {
                margin-top: 15px;
                margin-bottom: 15px;

                .main-title-2 {
                    color: white;
                    font-weight: 600;
                    font-size: 30px;
                }
            }

            p {
                color: white;
            }

            .features-button {
                width: 40%;
                border: 1px solid white;
                border-radius: 20px;
                padding: 10px 20px;
                background-color: white;
                color: #2b9ddf;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                margin-top: 5px;
            }
        }

        .features-image {
            width: 20%;
            height: 50%;
            margin-top: 10px;
            margin-left: 15vw;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.timetable-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: Calibri, sans-serif;

    .timetable-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40%;
        margin-left: 20vw;
        margin-right: 5vh;

        .timetable-name {
            font-size: 24px;
            font-weight: bold;
            color: #20b6a9;
            margin-top: 40px;
        }

        .timetable-title {
            margin-top: 15px;
            margin-bottom: 15px;

            .main-title {
                color: #343a40;
                font-weight: 600;
                font-size: 50px;
            }
        }

        .timetable-description {
            font-size: 16px;
            color: #6c757d;
            margin-top: 5vh;
            width: 80%;
        }

        .timetable-button {
            border: 1px solid #2b9ddf;
            border-radius: 20px;
            padding: 10px 20px;
            background-color: #2b9ddf;
            color: white;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            margin-top: 5px;
        }
    }

    .timetable-image {
        width: 30%;
        height: 20%;
        margin-top: 10px;
        margin-right: 20vw;
        margin-bottom: 20vh;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.doctors-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    background-color: #e6f9ff;
    font-family: Calibri, sans-serif;
    color: white;

    .content-name {
        font-size: 24px;
        font-weight: bold;
        color: #20b6a9;
        margin-top: 5vh;
    }

    .content-title {
        margin-top: 1vh;

        .main-title {
            color: #343a40;
            font-weight: 600;
            font-size: 50px;
        }
    }

    .doctors-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 55%;


        .doctors-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #2b9ddf;
            background-color: #2b9ddf;
            border-radius: 60px;
            margin-top: 3vh;
            margin-left: 2vw;
            margin-right: 2vw;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            height: 100%;

            .doctors-image {
                width: 200px;
                height: 200px;

                img {
                    border-radius: 50%;
                    width: 100%;
                    height: auto;
                }
            }

            .doctors-name {
                margin-top: 1vh;
                font-size: 24px;
                font-weight: bold;
                color: white;
            }

            .doctors-speciality {
                font-size: 16px;
                font-weight: 400;
                color: white;
            }
        }
    }

    .doctors-button {
        border: 1px solid #2b9ddf;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: #2b9ddf;
        color: white;
        font-size: 14px;
        font-weight: 600;
        width: 10%;
        cursor: pointer;
        margin-top: 6vh;
    }
}